@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// used for link
.globalLink {
  color: #4183c4;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.commonGlobalBtn {
  background-color: $voiletColor !important;
  color: white !important;
  margin-right: 20px;
  &:hover {
    background-color: #45185e !important;
  }
}
