@import "../../../../styles//variables.scss";

.subHeaderWrapper {
  padding-top: 20px;
  background-color: $voiletColor;
  min-height: 200px;
  color: #d2d2d2;
  padding-bottom: 20px;

  .ownerCo-owner {
    margin-top: 16px;
    font-size: 14px;
    span {
      display: flex;
    }
    i {
      font-size: 26px;
    }
  }
  .publishedOn {
    margin-top: 30px;
    display: flex;
    font-size: 14px;
    span {
      display: flex;
    }
    i {
      font-size: 24px;
    }
  }

  // default color of start should be gray
  .ui.star.rating .icon {
    color: #d2d2d2;
  }

  .downloadViewRating {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      i {
        color: #0aabd9;
      }
    }
  }
}
