@import "../styles/variables.scss";

.adminLayoutWrapper {
  .main-container {
    background-color: #f5f5f5;
    padding: 10px;
  }

  .left-bar {
    .ui.thin.left.sidebar,
    .ui.thin.right.sidebar {
      width: 164px;
    }

    .ui.vertical.menu .active.item {
      background-color: $voiletColor;
      color: white;
      font-weight: 600;
    }
  }
}
