@import "../../../../styles//variables.scss";

.assetDetail-wrapper {
  .main-container {
    .stickyNotification {
      position: absolute;
      background-color: #2e7d32;
      color: white;
      .icon {
        font-size: 20px !important;
      }
    }

    .tagsWrapper {
      margin-top: 18px;
      div.label {
        margin-bottom: 3px;
      }
    }
  }
}
